body  {
  background-color: white;
}

h1  {
  color: blue;
  font-size: 80px;
}

.header  {
  text-align: center;
  font-family: serif, sans-serif;
  font-size: 40px;
}

ul {
	width: 90%;
	text-align: center;
	padding:25px;
	margin: 0px auto;
	margin-bottom:0px;
	font-size: 24px;
	font-family: sans-serif;
}

li  {
  opacity: 1;
  color: black;
  padding: 0px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 10px;
  list-style-type: none;
}

li:hover  {
  opacity: 0.5;
  cursor: pointer;
}

.answer  {
  background-color: lightgrey;
  color: black;
}

.question-incorrect  {
  color: black;
  background-color: red;
}

.question-correct  {
  color: black;
  background-color: green;
}

.footer  {
}

#total  {
  text-align: center;
}
